@charset "UTF-8";

/* 共通部分
-------------------------- */

html {
    font-size: 100%;
}

body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}


/* HEADER
-------------------------- */

.logo {
    margin-top: 10px;
}

.parent {
    display: flex;
    font-size: 1.25rem;
    /* text-transformとはテキストにおける英数字の大文字、小文字の表示を指定するプロパティです。
以下の値で指定します。
*/
    flex-direction: row;
    text-transform: uppercase;
    list-style: none;
    display: -webkit-flex;
    display: -ms-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    background: rgb(0, 0, 139);
    z-index: 1000;
}

.parent li ul {
    z-index: 100
}

.parent li {
    position: relative;
    text-align: center;
    height: 80px;
    line-height: 80px;
    flex-basis: 25%;
    -webkit-flex-basis: 25%;
    -ms-flex-basis: 25%;
    color: #fff;
    /* margin-left: 20px; */
    border-right: 1px white solid;
}

.parent a {
    color: #fff;
}

.parent a:hover {
    color: #0bd;
}

.parent>li {
    position: relative;
    text-align: center;
    height: 80px;
    line-height: 80px;
    flex-basis: 25%;
    -webkit-flex-basis: 25%;
    -ms-flex-basis: 25%;
    color: #fff;
}

.child {
    position: absolute;
    left: 0;
    top: 80px;
    background: #16a089d2;
    width: 100%;
    display: none;
    list-style: none;
}

.child>li {
    color: #fff;
    height: 60px;
    line-height: 60px;
    position: relative;
    border-bottom: 1px solid #838383;
}

.grandchild {
    position: absolute;
    top: 0;
    background: darkblue;
    z-index: 1;
    width: 100%;
    display: none;
    list-style: none;
}

.grandchild>li {
    color: #fff;
    height: 60px;
    line-height: 60px;
    position: relative;
    border-bottom: 1px solid #c3c3c3;
}

.parent>li:not(:last-child) .child>li .grandchild {
    left: 100%;
}

.parent>li:last-child .child>li .grandchild {
    right: 100%;
}

.page-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 4%;
}

.site {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu {
    display: flex;
    list-style: none;
    /* 軸の設定(既定値がrowなので省略可能) */
    flex-direction: row;
    /* 主軸：左右の配置 */
    justify-content: center;
    /* 交差軸：上下の配置 */
    align-items: center;
}

.menu li {
    margin-left: 10px;
}

menu li img {
    padding-top: 10px;
}

.guide {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-end;
}

.guide li a {
    padding-left: 10px;
}

.search_container input[type="text"] {
    border: solid 1px;
    height: 30px;
    width: 150px;
    vertical-align: top;
}


/*==================================================
スライダーのためのcss
===================================*/


/*画像の横幅を100%にしてレスポンシブ化*/

.gallery img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    /*画像の下にできる余白を削除*/
}


/*メイン画像下に余白をつける*/

.gallery {
    margin: 0 0 5px 0;
}


/*矢印の設定*/


/* 矢印を消す */

.slick-arrow:before {
    content: ""!important;
}


/*戻る、次へ矢印の位置*/

.slick-prev,
.slick-next {
    position: absolute;
    /*絶対配置にする*/
    z-index: 3;
    top: 42%;
    cursor: pointer;
    /*マウスカーソルを指マークに*/
    outline: none;
    /*クリックをしたら出てくる枠線を消す*/
    border-top: 5px solid #ccc;
    /*矢印の色*/
    border-right: 5px solid #ccc;
    /*矢印の色*/
    height: 25px;
    width: 25px;
}

.slick-prev {
    /*戻る矢印の位置と形状*/
    left: 2.5%;
    transform: rotate(-135deg);
}

.slick-next {
    /*次へ矢印の位置と形状*/
    right: 2.5%;
    transform: rotate(45deg);
}


/*選択するサムネイル画像の設定*/

.choice-btn {
    cursor: pointer;
    outline: none;
    list-style: none;
}

.slider-container {
    width: 100%;
    margin: 0 auto;
}


/* コンテンツ部分 */

.main-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}


/* サイドバー */

aside {
    width: 30%;
}

.login,
.news {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 10px;
}

.login li,
.news li {
    text-align: center;
    margin-top: 10px;
}

.service li {
    text-align: center;
}

aside h2 {
    color: darkblue;
    text-align-last: center;
    margin-top: 10px;
}

.btn {
    font-weight: bold;
    border-radius: 0%;
    width: 100%;
    height: 40px;
    position: relative;
}

.btn p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 200px;
    text-align: center;
    /*一応BOX内の文字も中央寄せ*/
    color: white;
}

.blue {
    background-color: darkblue;
}

.green {
    background-color: #73ff00;
}

.service-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    gap: 10px;
    grid-template-rows: 100px 100px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}

.service-menu li {
    background: #16a089d2;
    display: table;
    /*テーブル要素に変更*/
    width: 100%;
}

.cell {
    /*子要素*/
    display: table-cell;
    /*テーブルセル要素に変更*/
    vertical-align: middle;
    /*上下中央*/
    line-height: 1.2em;
    color: white;
}

aside img {
    margin-top: 20px;
}

.link {
    text-decoration: underline;
}

.service {
    margin: 30px 0;
}


/* 記事部分 */

article {
    width: 70%;
    margin-left: 35px;
}

article .category {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

article .topic {
    margin-top: 20px;
    list-style: none;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
}

article .item h3 {
    padding-left: 15px;
    border-width: 0 0 1px 15px;
    border-style: solid;
    border-color: #16a089d2;
    margin-top: 30px;
}

article .category.item {
    margin-bottom: 30px;
}


/* footer */